# Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns

### Step 2. Import the dataset *chipotle.tsv*

In [3]:
pd.read_table("C:\\Users\\rupan\\OneDrive\\Desktop\\data_sets\\chipotle.tsv")

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Assign it to a variable called chipo.

In [4]:
chipo=pd.read_table("C:\\Users\\rupan\\OneDrive\\Desktop\\data_sets\\chipotle.tsv")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. How many products cost more than $10.00? 

Use `str` attribute to remove the $ sign and convert the column to proper numeric type data before filtering.

In [26]:
chipo['item_price'] = chipo['item_price'].str.replace('$',"")
chipo['item_price'] = chipo['item_price'].astype(float)

C:\Users\rupan\AppData\Local\Temp\ipykernel_36772\1447407788.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$',"")

In [32]:
(chipo.item_price>10.00).value_counts()

False    3492
True     1130
Name: item_price, dtype: int64

### Step 5. What is the price of each item? 

print a data frame with only two columns `item_name` and `item_price`

In [37]:
chipo1=chipo.groupby("item_name")["item_price"].min().reset_index()
chipo1

                                item_name  item_price
0                       6 Pack Soft Drink        6.49
1                           Barbacoa Bowl        8.69
2                        Barbacoa Burrito        8.69
3                   Barbacoa Crispy Tacos        8.99
4                     Barbacoa Salad Bowl        9.39
5                     Barbacoa Soft Tacos        8.99
6                           Bottled Water        1.09
7                                    Bowl        7.40
8                                 Burrito        7.40
9                             Canned Soda        1.09
10                      Canned Soft Drink        1.25
11                          Carnitas Bowl        8.99
12                       Carnitas Burrito        8.69
13                  Carnitas Crispy Tacos        8.99
14                         Carnitas Salad        8.99
15                    Carnitas Salad Bowl        9.39
16                    Carnitas Soft Tacos        8.99
17                           Chicken Bowl        8.19
18                        Chicken Burrito        8.19
19                   Chicken Crispy Tacos        8.49
20                          Chicken Salad        8.19
21                     Chicken Salad Bowl        8.75
22                     Chicken Soft Tacos        8.49
23                                  Chips        1.99
24           Chips and Fresh Tomato Salsa        2.29
25                    Chips and Guacamole        3.89
26      Chips and Mild Fresh Tomato Salsa        3.00
27     Chips and Roasted Chili Corn Salsa        2.95
28     Chips and Roasted Chili-Corn Salsa        2.39
29  Chips and Tomatillo Green Chili Salsa        2.95
30    Chips and Tomatillo Red Chili Salsa        2.95
31  Chips and Tomatillo-Green Chili Salsa        2.39
32    Chips and Tomatillo-Red Chili Salsa        2.39
33                           Crispy Tacos        7.40
34                                   Izze        3.39
35                       Nantucket Nectar        3.39
36                                  Salad        7.40
37                          Side of Chips        1.69
38                             Steak Bowl        8.69
39                          Steak Burrito        8.69
40                     Steak Crispy Tacos        8.69
41                            Steak Salad        8.69
42                       Steak Salad Bowl        9.39
43                       Steak Soft Tacos        8.99
44                            Veggie Bowl        8.49
45                         Veggie Burrito        8.49
46                    Veggie Crispy Tacos        8.49
47                           Veggie Salad        8.49
48                      Veggie Salad Bowl        8.75
49                      Veggie Soft Tacos        8.49

### Step 6. Sort by the name of the item

In [38]:
chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [39]:
chipo.sort_values(by="item_price",ascending = False).head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [40]:
c=chipo['item_name'].value_counts()
c1=c.loc['Veggie Salad Bowl']
print(c1)

18

### Step 9. How many times people orderd more than one Canned Soda?

In [44]:
c=chipo[(chipo["item_name"]=="Canned Soda")&(chipo["quantity"]>1)]

In [45]:
len(c)

20